body{
	
	background:linear-gradient(to top, rgba(0,0,0,.5)50%,rgba(0,0,0,0.5)50%), url(img10.jpg);
	background-position: center;
    background-size: cover;
	
}

nav{
	background: white;
	width:70%;
	margin: auto;
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	padding: 1%;
	border: 2px solid lightgreen;
	border-radius: 8px;
}

nav div{
	height: auto;
	width: 16%;
	height: 3vh;
	text-align: center;
	background-color:orange;
	margin:auto;
	padding: 1%;
	border-radius: 15px;
	font-weight: bold;
	transition: .5s;
}

nav div:hover{
	background-color: black;
	color: white;
}
nav div:hover::after{
	opacity: 1;
	transform: scaleY(.7);
}

nav div::after{
	font-weight: bolder;
	content: '';
	transition: 1s;
	display: block;
	position: relative;
	top:-40px;
	left: 0px;
	background:transparent;
	height: 9vh;
	border-bottom:2px solid black ;
	border-top:2px solid black ;
	opacity: 0;
	pointer-events: none;
}

nav div a{
	padding: 8px 20px 8px 20px;
	text-decoration: none;
	color: black;
	transition: .5s;
}

nav div:hover a{
	color: white;
}

main{
	border: 2px solid white;
	margin: auto;
	margin: 1%;
	width: 95%;
	height: 90%;
	background: linear-gradient(to top, rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%);
	/* background-color: white; */
	padding: 1rem;
	color:white;
	border-radius: 8px;
}

#decoration{

	content: '';
	margin: auto;
	border-radius: 8px;
	border: 2px solid white;
	position: relative;
	left: -2.5%;
	top: 0%;
	width: 82%;
	height: 90%;
	display: block;
}

main #user{
	box-sizing: border-box;
	background-color: white;
	width: 95%;
	height: 10%;
	margin: auto;
	font-weight: bold;
	text-align: center;
	
}
main #user h1{
	position: relative;
	top: 10%;
	color:Black;
}

#updates{
	margin-top: 5%;
	padding: 0.3%;
	background:lightblue;
	height: 70%;
	
}

#updates h2{
	margin-left: 2%;
}

#content{
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0rem;
	padding: .5rem;
	height: 75%;
}

#content div{
	color: black;
	margin: .45rem;
	background-color: white;
	padding: .7rem;
	border-radius: 2px;
}

@media Screen and (max-width:600px)
{
	nav{
		width: 50%;
	}
	nav div{
		width: 90%;
		margin-top: 2%;
	}
}

footer div{
	visibility: visible;
}